* {
    padding:0;
    margin:0;
}

*, *:before, *:after{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
}
html, body { height:100%; }

.skrollr-desktop body {
    height:100% !important;
}

body {
    font-family:sans-serif;
}

p {
    margin:1em 0;
}
.gap{
    background:transparent center no-repeat;
    background-size:cover;
}
.gap-25  { height: 25%; }
.gap-50  { height: 50%; }
.gap-75  { height: 75%; }
.gap-100 { height:100%; }

#skrollr-body {
    height:100%;
    overflow:visible;
    position:relative;
}

#skrollr-body > div {
    max-width: 1600px;
    min-width: 960px;
}

.section {
    height: 100%;
    width: 100%;
}

/* GENERICS */
.cloud {
    background-image: url('/images/cloud01.png');
    background-repeat: no-repeat;
    width: 200px;
    height: 110px;
    background-size: contain;
    position: absolute;
}


.tree {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    width: 321px;
}

.horiz-flip { transform: scaleX(-1); }

.tree01 {
    background-image: url("/images/tree01.png");
    height: 617px;
}
.tree02 {
    background-image: url("/images/tree02.png");
    height: 528px;
}
.tree03 {
    background-image: url("/images/tree03.png");
    height: 440px;
}

.dialog {
    background-color: #fff;
    width: 300px;
    padding: 2px 5px;
    border-radius: 5px;
    z-index: 100;
    position: absolute;
}

.arrow-down{
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    /* border-top: 20px solid #5280B7;
    border-top: 20px solid #F00; */
    border-top: 20px solid #fff;
}

/* Section stuffs */

#status{
    width: 10px;
    height: 40px;
    background-color: #ccc;
    right: 0;
}

#skies, #woods {
    z-index:50;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

#skies {
    background-color: #5280B7;
}

#skies {
background: -moz-linear-gradient(top, #375b85 0%, #5280b7 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#375b85), color-stop(100%,#5280b7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #375b85 0%,#5280b7 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #375b85 0%,#5280b7 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #375b85 0%,#5280b7 100%); /* IE10+ */
background: linear-gradient(to bottom, #375b85 0%,#5280b7 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#375b85', endColorstr='#5280b7',GradientType=0 ); /* IE6-9 */


}

#intro #intro_message {
    position: absolute;
    left: 50%;
    margin-left: -20%;
    top: 250%;
    color: #fff;
}

#woods {
    /* background-color: #80B752; */
    background-color: #B78052;  
    z-index:0;
    height: 250%;
    position: absolute;
    top: 100%;
    background-image: url("/images/road01.png");
    background-repeat: no-repeat;
    background-position: 50% center;
    background-size: contain;
}

#scene_welcome, #scene_place,
#scene_time, #scene_practical,
#scene_shelter {
    height: 80%;
    z-index: 51;
    position: relative;
}
#scene_time, #scene_practical {
    height: 45%;
}
#scene_shelter {
    height: 100%;
    z-index: 50;
}

#road { background-color: #B78052; }
#scene_shelter { background-color: #B78052; }


/* Intro */
#intro{
    position: relative;
}

#banner {
    background-image: url('/images/banner_red.png');
    background-repeat: no-repeat;
    background-position: 0px 80px;
    width: 625px;
    height: 160px;
    padding-top: 100px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    position: relative;
}

#treeline {
    position: absolute;
    background: url('/images/forrestbg.png') repeat-x;
    width: 100%;
    height: 300px;
    background-size: contain;
    bottom: -10%;
    z-index: 51;
}

#cloud_0, #cloud_1 { top: 110%; }
/*#cloud_0 { left: 40%; } */
#cloud_1 { top: 130%; }

/* Scene welcome */
#scene_welcome .tree-left {
    top: 90px; left: 20%;
    height: 50%;
    z-index: 55;
}

#scene_welcome .tree-right {
    top: 80px; right: 25%; 
    height: 43%;
    z-index: 55;
}

#dialog_welcome {
    position: relative;
    margin: 0 auto;
    top: 90px;
}

/* Scene place */

#scene_place .tree-right {
    right: 20%;
    height: 55%;
}

#dialog_place {
    left: 25%;
}

/* Scene time */
#scene_time .tree-left {
    left: 20%;
    height: 120%;
}

#dialog_time {
    top: 11px;
    right: 20%;
}

/* Scene practical */
#scene_practical .tree-right {
    right: 20%; 
    height: 125%;
}

#dialog_practical {
    left: 21%;
    top: 7px;
}

/* scene Shelter */
#scene_shelter .hut {
    position: absolute;
    top: -50px;
    left: 50%;
    margin-left: -480px;
    width: 960px;
    height: 931px;
    background-size: contain;
    background-image: url('/images/baal_hytte.png');
}

#scene_shelter .present {
    position: absolute;
    top: 100px;
    left: 30px;
}

#scene_shelter .info {
    position: absolute;
    top: 480px; left: 50px;
    width: 250px;
}

/* ICONS */
.icon {
    width: 30%;
    height: 30%;
    margin-left: 20%;
    margin-top: 15%;
    opacity: 0.5;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.icon-map { background-image: url("/images/icon-map.png"); }
.icon-calendar { background-image: url("/images/icon-calendar.png"); }
.icon-practical { background-image: url("/images/icon-list.png"); }
