---
layout: base
eleventyImport:
  collections: ["post"]

title: Nicolai Willems
subtitle: Dad and Programmer
author: Nicolai Willems
author-url: "https://nwillems.dk"
date: 2024-08-26
lang: en
version: v0.9.0
---

Welcome to my page.

Not much happening here - possibly a few notes here and there on different techinal topics, or not, maybe at some point even a blog.

See <a href="/unifi" title="Unifi setup">unifi</a> for notes on running a Unifi Dream Machine Pro at home.

I run a homelab with Unifi, Kubernetes and TrueNAS being the most prominent parts.

<h2>Posts</h2>
<ul>
{%- for post in collections.post -%}
  <li
    {% if page.url == post.url %} aria-current="page"{% endif %}>
    <a href="{{post.url}}">{{ post.data.title }}</a>
  </li>
{%- endfor -%}
</ul>
