:root {
--diameter: 350px;
--numberOfSlices: 10;
--radius: calc(var(--diameter) / 2);
--circumfrence: calc(6.283185307 * var(--radius));
--sliceHeight: calc(var(--circumfrence) / var(--numberOfSlices));
--sliceOffeset: calc(var(--sliceHeight) / 2);
--sliceColor: #5d815b;
--sliceColorDark: #953332;
--rotation: calc(360deg / var(--numberOfSlices));

--spinOffset: 3;

--ext1: #bda686; /* crumb cake */
--ext2: #896f4e; /* soft suede */
--ext3: #584839; /* early espresso */
--ext4: #fefbe8; /* very vanilla */
}

body {
	font-family: sans-serif;
	margin: 1vh 0;
	background: #Fff;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 800px 1fr;
  grid-column-gap: 10px;
}

.left {
  grid-column: 1 / span 1;
}

.candle {
  grid-column: 3 / span 1;
  height: 100vh;
}

.candle ol {
  background: url(https://static.vecteezy.com/system/resources/previews/000/701/152/original/seamless-nordic-christmas-pattern-vector.jpg);
  background-size: 200px 100px;
  background-repeat: repeat-y;

  width: 25px;

  color: var(--ext3);
  font-weight: bolder;

  margin: 0;
}

.candle .flame {
  /* Contain the fire */
  height: 7vh;
  padding-left: 20px;
}

.candle .flame .outer {
  width: 25px;
  width: 1fr;
  height: 8vh;
  background: #ff6234;
  border-radius: 0 75% 75% 75%;
  transform: rotate(45deg);
  /*animation: candle-flame 2s linear infinite alternate;*/
  animation-delay: 1s;
}

.candle .flame .inner {
  width: 0.8fr;
  background: #ff7d17;
  border-radius: 0 75% 75% 75%;
  transform: rotate(45deg);
  animation: candle-flame 2s linear infinite alternate;
  animation-delay: .5s;
}

@keyframes candle-flame {
  0%   {opacity: 1; transform: scale(1) rotate(45deg)}
  100% {opacity: .8; transform: scale(.9) rotate(45deg)}
}

.main-board {
  grid-column: 2 / span 1;
}

.main-column {
	position: relative;
	max-width: 800px;
	/*margin: 2rem auto;*/
}

.spinner-table {
	height: calc(var(--diameter) - 2px);
	width: calc(var(--diameter) - 2px);
	position: relative;
	border-radius: 100%;
	overflow: hidden;
}


.dial {
	height: 100%;
	transition: all 5s ease-out;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
}

.dial.spinning {
  animation-duration: 5s;
  animation-timing-function: cubic-bezier(0.440, -0.205, 0.000, 1.130);
  animation-name: spinning;
}

.dial:before {
  content: '';
  text-align: center;
  display: block;
  line-height: 60px;
  position: absolute;
  height: 40px;
  width: 40px;
  background: var(--ext4);
  box-shadow: 0 0 5px 5px rgba(#000, .1);
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
  border-radius: 100%;
  z-index: 200;
}

.dial .slice {
  z-index: 150;
  position: absolute;
  top: calc(50% - var(--sliceOffeset));
  height: var(--sliceHeight);
  left: 50%;
  width: 50%;
  color: var(--ext4);
  text-align: right;
  padding-right: 10px;
  display: block;
  transform-origin: left center;
}

.dial .slice:before,
.dial .slice:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
}

.dial .slice:before {
  margin-bottom: -1px;
  margin-top: -2px;
  border-width: 0 0 calc((var(--sliceHeight) / 2) + 4px) var(--radius);
  border-color: transparent transparent var(--sliceColor) transparent;
}

.dial .slice:after {
  margin-top: -1px;
  margin-bottom: -2px;
  border-width: 0 var(--radius) calc((var(--sliceHeight) / 2) + 4px) 0;
  border-color: transparent var(--sliceColor) transparent transparent;
}

.dial .slice:nth-child(even):before {
  border-color: transparent transparent var(--sliceColorDark) transparent;
}

.dial .slice:nth-child(even):after {
  border-color: transparent var(--sliceColorDark) transparent transparent; 
}

.dial .slice .label {
  position: absolute;
  top: 0;
  bottom: 0;
  width: calc(var(--sliceHeight) * 0.45);
  height: calc(var(--sliceHeight) * 0.45);
  line-height: var(--sliceHeight);
  font-size: 16px;
  text-align: right;
  margin: auto 0 auto 50%;

  background-repeat: no-repeat;
  background-position: right center;
  background-size: calc(var(--sliceHeight) * 0.45);
  clip-path: circle();
}

.dial {
  counter-reset: slice-count;
}

.dial .slice {
  transform: rotate(calc(var(--rotation) * counter(slice-count)deg));
  
}

.dial .slice:nth-child(1) {
			transform: rotate(calc(0 * var(--rotation)));
		}
.dial .slice:nth-child(2) {
  transform: rotate(calc(1 * var(--rotation)));
		}
.dial .slice:nth-child(3) {
  transform: rotate(calc(2 * var(--rotation)));
		}
.dial .slice:nth-child(4) {
  transform: rotate(calc(3 * var(--rotation)));
		}
.dial .slice:nth-child(5) {
  transform: rotate(calc(4 * var(--rotation)));
		}
.dial .slice:nth-child(6) {
  transform: rotate(calc(5 * var(--rotation)));
		}
.dial .slice:nth-child(7) {
  transform: rotate(calc(6 * var(--rotation)));
		}
.dial .slice:nth-child(8) {
  transform: rotate(calc(7 * var(--rotation)));
		}
.dial .slice:nth-child(9) {
  transform: rotate(calc(8 * var(--rotation)));
		}
.dial .slice:nth-child(10) {
  transform: rotate(calc(9 * var(--rotation)));
		}
.dial .slice:nth-child(11) {
  transform: rotate(calc(10 * var(--rotation)));
		}
.dial .slice:nth-child(12) {
  transform: rotate(calc(11 * var(--rotation)));
		}

@keyframes rotating {
	 from { transform: rotate(0); }
   to {  transform: rotate(360deg); }
}

@keyframes spinning {
	 from { transform: rotate(0); }
   to {  transform: rotate( calc( 1800deg + var(--rotation)*var(--spinOffset) ) ); }
}

.arrow {
	position: absolute;
	height: 30px;
	width: 50px;
	left: calc(var(--diameter) + 30px);
	z-index: 500;
	display: block;
	top: 50%;
	margin-top: -15px;
	transform-origin: center right;
}

.pointer {
	z-index: 500;
	display: block;
	height: 30px;
	width: 50px;
}

.pointer:before {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 15px 50px;
  border-color: transparent transparent var(--ext1) transparent;
}

.pointer:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 50px 15px 0;
  border-color: transparent var(--ext1) transparent transparent;
}

.board {
	position: relative;
	background: var(--ext4);
	padding: 50px;
}

button {
	background: var(--ext1);
	border: 0;
	padding: 15px 50px;
	color: var(--ext4);
	position: absolute;
	top: 50%;
	margin-top: -20px;
	right: 20%;
}
